laravel_demo/node_modules
laravel_demo/public/hot
laravel_demo/public/storage
laravel_demo/storage/*.key
laravel_demo/vendor
laravel_demo/.idea
laravel_demo/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env


# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# ----------------------------------------
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
BookClientApp/dist
BookClientApp/tmp
BookClientApp/out-tsc

# dependencies
BookClientApp/node_modules

# IDEs and editors
BookClientApp/.idea
BookClientApp/.project
BookClientApp/.classpath
BookClientApp/.c9/
BookClientApp/*.launch
BookClientApp/.settings/
BookClientApp/*.sublime-workspace

# IDE - VSCode
BookClientApp/.vscode/*
BookClientApp/!.vscode/settings.json
BookClientApp/!.vscode/tasks.json
BookClientApp/!.vscode/launch.json
BookClientApp/!.vscode/extensions.json

# misc
BookClientApp/.sass-cache
BookClientApp/connect.lock
BookClientApp/coverage
BookClientApp/libpeerconnection.log
BookClientApp/npm-debug.log
BookClientApp/testem.log
BookClientApp/typings

# e2e
BookClientApp/e2e/*.js
BookClientApp/e2e/*.map

# System Files
BookClientApp/.DS_Store
BookClientApp/Thumbs.db
